[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bayesLife"]
	path = bayesLife
	url = https://github.com/cran/bayesLife
[submodule "bayesPop"]
	path = bayesPop
	url = https://github.com/cran/bayesPop
[submodule "bayesTFR"]
	path = bayesTFR
	url = https://github.com/cran/bayesTFR
[submodule "BMA"]
	path = BMA
	url = https://github.com/hanase/bma
[submodule "covRobust"]
	path = covRobust
	url = https://github.com/hanase/covrobust
[submodule "demogR"]
	path = demogR
	url = https://github.com/hanase/demogr
[submodule "dma"]
	path = dma
	url = https://github.com/hanase/dma
[submodule "fractaldim"]
	path = fractaldim
	url = https://github.com/hanase/fractaldim
[submodule "mlogitBMA"]
	path = mlogitBMA
	url = https://github.com/hanase/mlogitbma
[submodule "MortCast"]
	path = MortCast
	url = https://github.com/cran/MortCast
[submodule "rlecuyer"]
	path = rlecuyer
	url = https://github.com/hanase/rlecuyer
[submodule "snowFT"]
	path = snowFT
	url = https://github.com/hanase/snowft
[submodule "vote"]
	path = vote
	url = https://github.com/hanase/vote
[submodule "wpp2008"]
	path = wpp2008
	url = https://github.com/cran/wpp2008
[submodule "wpp2010"]
	path = wpp2010
	url = https://github.com/cran/wpp2010
[submodule "wpp2012"]
	path = wpp2012
	url = https://github.com/cran/wpp2012
[submodule "wpp2015"]
	path = wpp2015
	url = https://github.com/cran/wpp2015
[submodule "wpp2017"]
	path = wpp2017
	url = https://github.com/cran/wpp2017
[submodule "wpp2019"]
	path = wpp2019
	url = https://github.com/cran/wpp2019
[submodule "wppExplorer"]
	path = wppExplorer
	url = https://github.com/cran/wppExplorer
